

:root {
    --accent-color: #f39c12;
}



.quote {
    font-style: italic;
    padding: 15px 20px 15px 40px;
    background-color: rgba(243, 156, 18, 0.1);
    border-left: 5px solid var(--accent-color);
    margin: var(--space-lg) 0;
    position: relative;
}

.quote::before {
    content: "“";
    font-size: 4rem;
    color: rgba(56, 56, 56, 0.2);
    position: absolute;
    top: 10px;
    left: 5px;
    line-height: 1;
}


.card-img-top {
    height: 350px;
    object-fit: cover;
}

.hero-card {
    height: 300px; 
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.no-hover .card:hover {
    transform: none; 
    transition: none; /
}



@media (max-width: 768px) {
    .card-img-top {
        height: 70px; 
    }
}

